.score {
    font-weight: bold;
    color:red;
   
   }

 #JsonData {
  font-family: Verdana;
  font-size: 18px;

 }  

 #JsonData h3{
 font-family: "Lucida console";    
 font-weight: bold;

 }